<form [formGroup]="form"> my-form.component.html
  <div>
    Phone : <input formControlName="phoneNo">
  </div>
  <div>
    Email : <input formControlName="email">
    <span style="color: red;" *ngIf="form.controls['email'].errors?.email">Email is invalid</span>
  </div>
  <div>
    Password : <input type="password" formControlName="password">
    <span style="color: red;" *ngIf="form.controls['password'].errors?.required">Password
      required</span>
       <span style="color: red;" *ngIf="form.controls['password'].errors?.minlength">Password should be at
      least 8
       characters </span>
  </div>
  <div>
    Confirm Password : <input type="password" formControlName="confirmPassword">
    <span style="color: red;" *ngIf="form.controls['confirmPassword'].errors?.required">Confirm Password requires</span>
  </div>
</form>
<p>
  Form Data Below
</p>
<code>
   {{form.value | json}}
  </code>
